## EDA Philadelphia

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('Average_Daily_Ridership_By_Mode - City of Philadelphia.csv')
df= pd.read_csv('Average_Daily_Ridership_By_Route - City of Philadelphia.csv')

## comprendre la structure de la data

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            492 non-null    int64
 1   Calendar_Month           492 non-null    int64
 2   Mode                     492 non-null    object
 3   Average_Daily_Ridership  492 non-null    int64
 4   Source                   492 non-null    object
 5   ObjectId                 492 non-null    int64
dtypes: int64(4), object(2)
memory usage: 23.2+ KB
None

## les 5 premiers lignes

In [10]:
print(data.head())

   Calendar_Year  Calendar_Month               Mode  Average_Daily_Ridership  \
0           2019               1                Bus                   459160
1           2019               1                CCT                     4294
2           2019               1         Heavy Rail                   296709
3           2019               1      Regional Rail                   122856
4           2019               1  Trackless Trolley                    16853

    Source  ObjectId
0      APC         1
1  Revenue         2
2  Revenue         3
3  Revenue         4
4      APC         5

## les valeurs vides

In [11]:
print(data.isna().sum())

Calendar_Year              0
Calendar_Month             0
Mode                       0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64

## les doublons

In [12]:
print(data.duplicated().sum())

0

In [ ]:
print(data.columns.tolist())

In [13]:


print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10994 entries, 0 to 10993
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            10994 non-null  int64
 1   Calendar_Month           10994 non-null  int64
 2   Route                    10994 non-null  object
 3   Average_Daily_Ridership  10994 non-null  int64
 4   Source                   10994 non-null  object
 5   ObjectId                 10994 non-null  int64
dtypes: int64(4), object(2)
memory usage: 515.5+ KB
None

In [14]:
print(df.head())

   Calendar_Year  Calendar_Month Route  Average_Daily_Ridership Source  \
0           2019               8    59                     3811    APC
1           2019               8    60                     8550    APC
2           2019               8    61                     3563    APC
3           2019               8    62                      226    APC
4           2019               8    64                     4335    APC

   ObjectId
0         2
1         3
2         4
3         5
4         6

In [15]:
print(df.isna().sum())

Calendar_Year              0
Calendar_Month             0
Route                      0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64

In [16]:
print(df.duplicated().sum())

0

## nettoyage

In [17]:

data = data.drop(columns=["ObjectId","Source"])


print(data.columns.tolist())

['Calendar_Year', 'Calendar_Month', 'Mode', 'Average_Daily_Ridership']

In [21]:
data.to_csv('cleaned_Mode.csv', index=False)

In [19]:
df = df.drop(columns=["ObjectId","Source"])


print(df.columns.tolist())

['Calendar_Year', 'Calendar_Month', 'Route', 'Average_Daily_Ridership']

In [20]:
df.to_csv('cleaned_Route.csv', index=False)

## EDA Chicago

In [79]:
from rdflib import Graph
import pandas as pd

In [5]:
dfchic= pd.read_excel('cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572.xlsx')

In [15]:
print(dfchic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    9100 non-null   datetime64[ns]
 1   day_type        9100 non-null   object
 2   bus             9100 non-null   int64
 3   rail_boardings  9100 non-null   int64
 4   total_rides     9100 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 355.6+ KB
None

In [16]:
print(dfchic.head())

  service_date day_type     bus  rail_boardings  total_rides
0   2001-01-01        U  297192          126455       423647
1   2001-01-02        W  780827          501952      1282779
2   2001-01-03        W  824923          536432      1361355
3   2001-01-04        W  870021          550011      1420032
4   2001-01-05        W  890426          557917      1448343

In [17]:
print(dfchic.duplicated().sum())

0

In [18]:
print(dfchic.isna().sum())

service_date      0
day_type          0
bus               0
rail_boardings    0
total_rides       0
dtype: int64

In [7]:
dfchic = dfchic[
    (dfchic["service_date"].dt.year >= 2019) &
    (dfchic["service_date"].dt.year <= 2025)
]

## exporter le rdf fusionee en csv

In [8]:
dfchic.to_csv("CTA_Chicago_nett.csv", index=False)

## api

In [1]:
import requests

In [4]:
CTA_API_KEY = "qwFNyu3V7ERnHKBdqvRgUtvjQ"
CTA_BASE_URL = "https://www.ctabustracker.com/bustime/api/v3"

def get_cta_routes(api_key):
    params = {"key": api_key, "format": "json"}
    response = requests.get(f"{CTA_BASE_URL}/getroutes", params=params)
    data = response.json().get("bustime-response", {}).get("routes", [])
    return pd.DataFrame(data)

In [10]:
df_routes = get_cta_routes(CTA_API_KEY)
print(df_routes.head())

   rt                       rtnm    rtclr rtdd
0   1  Bronzeville/Union Station  #336633    1
1   2          Hyde Park Express  #993366    2
2   3                 King Drive  #009900    3
3   4              Cottage Grove  #cc3300    4
4  X4      Cottage Grove Express  #006666   X4